<div class="jumbotron text-center" style="background-color:#7BD5C6">
  <h1><b>Jackson Heights</b></h1>
  <p>Sign up below!</p> 
</div>
<div class="jumbotron text-center" style="background-color:#7BD5C6">
  <h1><b>Park Slope</b></h1>
  <p>Sign up below!</p> 
</div>
<div class="jumbotron text-center" style="background-color:#7BD5C6">
  <h1><b>Flushing</b></h1>
  <p>Sign up below!</p> 
</div>
<div class="jumbotron text-center" style="background-color:#7BD5C6">
  <h1><b>Bayside</b></h1>
  <p>Sign up below!</p> 
</div>
<div class="jumbotron text-center" style="background-color:#7BD5C6">
  <h1><b>Fresh Meadows</b></h1>
  <p>Sign up below!</p> 
</div>
