<div class="collapse navbar-collapse js-navbar-collapse navbar-fixed-top" style="background-color:gray">
        <ul class="nav navbar-nav navbar-left">
          <li class="glyphicon glyphiconbriefcase">
            <a class="navbar-brand brand" href="index.html">
            <span class="glyphicon glyphicon-home"> AstroFitness</span></a>
         </li>
        </ul>
         <ul class="nav navbar-nav">
           
       </ul>
       <ul class="nav navbar-nav navbar-left">
            <li class="glyphicon glyphiconbriefcase"> <a href="#Reimb-insight">
               Find a Club</a>
           </li>
        </ul>
         <ul class="nav navbar-nav navbar-left">
           <li class="glyphicon glyphiconbriefcase">
            <a href="#about-cont">About</a> </li >
        </ul>
        <ul class="nav navbar-nav navbar-left">
           <li class="glyphicon glyphiconearphone">
           <a href="#myfooter"> Contact</a>
           </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
                <li class="glyphicon glyphiconearphone">    
            <a routerLink="../sign-up"><span></span> &nbsp; Join Now</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                
                <li class="glyphicon glyphiconearphone">
                    <a routerLink="../user-login"><span class="glyphicon glyphicon-log-in"></span>My Account</a>
                </li>
         </ul>
         
</div>
    
      <div style="margin-top:5cm;">
            
     </div>  
    
      <div class="container" id="myfooter" style="margin-top:20px;background-color:gray">
          <footer class="footer-bs" >
         
             <div class="row" >
               <div class="col-md-3">
                   <h2><img alt="AstroFitness" src="resource/picture/icon1.jpg"></h2>
                     <p>AstroFitness</p>
                     
                 </div>
               <div class="col-md-3">
                                     
                       <ul class="footul">
                              <li><h4>Site</h4></li> 
                             <li><a href="#">Home</a></li>
                             <li><a href="#">Find a Club</a></li>
                                                     
                         </ul>
                    
                   
                 </div>
               <div class="col-md-3 footer-social">
                   
                   <ul class="footul" >
                       <li><h4>Contact Us</h4></li>
                       <li><a href="#">astrnauts@fitness.com</a></li>
                       <li><a href="#">234-984-8374</a></li>
                                  
                     </ul>
                 </div>
                  <div class="col-md-3">
                    <h4>Log In:</h4>
                     <p><a routerLink="user-login"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Log In</a>
                     </p>
                 </div>
             </div>
         
         </footer>
         <section style="text-align:center; margin:10px auto;"><p>© 2018, All rights reserved</p></section>
    </div>
     